.registration-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 100px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .register-btn {
    background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  }
  
  .register-btn:hover {
    background-color: #0056b3;
  }
  
  .register-status {
    margin-top: 10px;
    color: rgb(27, 209, 6);
  }

.navbar-brand, .nav-link, .nav-dropdown-item {
  font-family: 'Roboto', sans-serif; /* You can change the font family as needed */
  font-weight: bold;
  color: #ffffff; /* White color for text */
}

.navbar-brand:hover, .nav-link:hover, .nav-dropdown-item:hover {
  color: #ffcc00; /* Highlight color for hover effect */
}

.navbar {
  background-color: #004080 !important; /* Dark blue background */
}
